.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 28px;
    height: 253px;
}
.form input {
    outline: none;
}
.authInputBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 181px;
    width: 324px;
}
.authIconBox {
    position: relative;
}
.inputEmail {
    width: 324px;
    height: 44px;
}
.inputLoginWrapper input:first-child {
    width: 324px;
    height: 45px;
}
.form button:last-of-type {
    width: 324px;
    height: 48px;
    padding: 12px 0px;
}
.error {
    height: 14px;
    width: 200px;
    display: flex;
    align-self: flex-end;
    justify-content: end;
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    color: rgba(229, 57, 53, 1)
}










