/* input {
    padding: 14px 16px;
    box-sizing:border-box;
    border: 1px solid var(--input_border_color);
    border-radius: 24px;
    font-family: var(--primary_text);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--auth_color);
} */

.inputAuthStyle {
    width: 100%;
    padding: 14px 16px;
    box-sizing:border-box;
    border: 1px solid #ccc;
    border-radius: 24px;
    font-family: var(--primary_text);
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: var(--auth_color);
}
.inputProfileStyle {
    width: 100%;  
    padding: 12px 16px;
    border-radius: 6px;
    font-family: inherit;
    border: 1px solid #ccc;
    box-sizing: border-box;

}
.labelProfileStyle {
    display: block;
    margin-bottom: 5px;
}
.iconEmailAuthStyle {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.7372%2012.0295L20.8633%207.31967V17.7961L15.7372%2012.0295ZM8.26276%2012.0286L10.932%2014.4796C11.2146%2014.7335%2011.5829%2014.8868%2011.9854%2014.8868H11.9996H12.0104C12.4138%2014.8868%2012.7821%2014.7326%2013.068%2014.477L13.0655%2014.4788L15.7372%2012.0295L20.8633%2017.7961H3.13755L8.26276%2012.0286ZM3.65507%206.20302H20.3474L12.3296%2013.5675C12.2394%2013.6429%2012.1279%2013.6839%2012.0129%2013.6838H12.0013H11.9904C11.8751%2013.6839%2011.7631%2013.6426%2011.6729%2013.5666L11.6737%2013.5675L3.65507%206.20302ZM3.13755%207.31879L8.26276%2012.0286L3.13755%2017.7961V7.31879ZM21.1383%205.16745C20.9383%205.06169%2020.7033%205%2020.4541%205H3.54923C3.30769%205.00006%203.06947%205.0595%202.85337%205.17362L2.86254%205.16922C2.60384%205.30416%202.38597%205.51292%202.23355%205.77191C2.08114%206.03091%202.00024%206.32982%202%206.63488V17.3625C2.00044%2017.7966%202.16372%2018.2129%202.454%2018.5199C2.74429%2018.8269%203.13787%2018.9995%203.5484%2019H20.4516C20.8621%2018.9995%2021.2557%2018.8269%2021.546%2018.5199C21.8363%2018.2129%2021.9996%2017.7966%2022%2017.3625V6.63488C22%205.99415%2021.6508%205.4389%2021.1425%205.17186L21.1333%205.16745H21.1383Z%22%20fill%3D%22%23161616%22%2F%3E%3C%2Fsvg%3E");
    background-size: cover;
}
.containerAuth, .containerProfile {
    width: 324px;
}
.containerAuth {
    position: relative;
    height: 44px;
}
.containerProfile {
    display: flex;
    flex-direction: column;
    height: 44px;
}
/* .error {
    height: 14px;
    width: 149px;
    align-self: flex-end;
    margin: 0;
    color: rgb(235, 104, 126);
} */
.inputProfileStyle:focus, .inputAuthStyle:focus {
    border-color: var(--button_bg);
    outline: none;
}
.iconPasswordAuthShowStyle, .iconPasswordAuthHiddenStyle {
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor: pointer;
    
}
/* .iconPasswordAuthShowStyle {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2234%22%20height%3D%2234%22%20viewBox%3D%220%200%2034%2034%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20fill%3D%22white%22%2F%3E%3Cpath%20d%3D%22M26.257%2015.962C26.731%2016.582%2026.731%2017.419%2026.257%2018.038C24.764%2019.987%2021.182%2024%2017%2024C12.818%2024%209.23601%2019.987%207.74301%2018.038C7.51239%2017.7411%207.38721%2017.3759%207.38721%2017C7.38721%2016.6241%207.51239%2016.2589%207.74301%2015.962C9.23601%2014.013%2012.818%2010%2017%2010C21.182%2010%2024.764%2014.013%2026.257%2015.962V15.962Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M17%2020C18.6569%2020%2020%2018.6569%2020%2017C20%2015.3431%2018.6569%2014%2017%2014C15.3431%2014%2014%2015.3431%2014%2017C14%2018.6569%2015.3431%2020%2017%2020Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

.iconPasswordAuthHiddenStyle {
    background-image:  url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http://www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M16.7933%2013.6001C16.9848%2013.0885%2017.0819%2012.5464%2017.08%2012.0001C17.08%2010.7872%2016.5981%209.62392%2015.7405%208.76626C14.8828%207.90859%2013.7196%207.42676%2012.5066%207.42676C11.9671%207.42739%2011.432%207.52447%2010.9266%207.71342L12%208.82009C12.1631%208.79399%2012.3281%208.78061%2012.4933%208.78009C13.3509%208.7783%2014.1744%209.11592%2014.784%209.71922C15.3935%2010.3225%2015.7396%2011.1425%2015.7466%2012.0001C15.7461%2012.1653%2015.7327%2012.3303%2015.7066%2012.4934L16.7933%2013.6001Z%22%20fill%3D%22%23161616%22%2F%3E%3Cpath%20d%3D%22M22.86%2011.6867C20.6133%207.53335%2016.6733%205.02002%2012.3133%205.02002C11.1262%205.02281%209.94712%205.21408%208.82001%205.58669L9.89334%206.66669C10.6839%206.46237%2011.4968%206.35712%2012.3133%206.35335C16.0667%206.35335%2019.48%208.44669%2021.5133%2011.9734C20.7674%2013.2818%2019.7786%2014.4357%2018.6%2015.3734L19.5467%2016.32C20.9107%2015.2196%2022.0436%2013.8601%2022.88%2012.32L23.0533%2012L22.86%2011.6867Z%22%20fill%3D%22%23161616%22%2F%3E%3Cpath%20d%3D%22M3.24667%203.85344L6.22%206.82677C4.34062%208.03685%202.8046%209.71062%201.76%2011.6868L1.58667%2012.0001L1.76%2012.3201C4.00667%2016.4734%207.94667%2018.9868%2012.3067%2018.9868C14.0084%2018.9864%2015.6881%2018.6013%2017.22%2017.8601L20.5533%2021.1934L21.72%2020.1934L4.38667%202.86011L3.24667%203.85344ZM9.74667%2010.3534L14.18%2014.7868C13.6791%2015.0968%2013.1024%2015.2629%2012.5133%2015.2668C12.0853%2015.2668%2011.6615%2015.1821%2011.2663%2015.0177C10.871%2014.8533%2010.5122%2014.6124%2010.2105%2014.3088C9.90875%2014.0052%209.67002%2013.6449%209.50804%2013.2487C9.34606%2012.8525%209.26403%2012.4281%209.26667%2012.0001C9.27418%2011.4178%209.44012%2010.8486%209.74667%2010.3534ZM8.78%209.38677C8.15629%2010.2664%207.86395%2011.3383%207.95475%2012.4128C8.04554%2013.4872%208.51361%2014.4949%209.27607%2015.2574C10.0385%2016.0198%2011.0462%2016.4879%2012.1207%2016.5787C13.1951%2016.6695%2014.2671%2016.3772%2015.1467%2015.7534L16.2133%2016.8201C14.9785%2017.3479%2013.6496%2017.6201%2012.3067%2017.6201C8.55333%2017.6201%205.14%2015.5268%203.10667%2012.0001C4.08247%2010.2723%205.48782%208.82557%207.18667%207.80011L8.78%209.38677Z%22%20fill%3D%22%23161616%22%2F%3E%3C/svg%3E");
} */
.iconPasswordAuthShowStyle {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M15.5799%2011.9999C15.5799%2013.9799%2013.9799%2015.5799%2011.9999%2015.5799C10.0199%2015.5799%208.41992%2013.9799%208.41992%2011.9999C8.41992%2010.0199%2010.0199%208.41992%2011.9999%208.41992C13.9799%208.41992%2015.5799%2010.0199%2015.5799%2011.9999Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M12.0001%2020.27C15.5301%2020.27%2018.8201%2018.19%2021.1101%2014.59C22.0101%2013.18%2022.0101%2010.81%2021.1101%209.39997C18.8201%205.79997%2015.5301%203.71997%2012.0001%203.71997C8.47009%203.71997%205.18009%205.79997%202.89009%209.39997C1.99009%2010.81%201.99009%2013.18%202.89009%2014.59C5.18009%2018.19%208.47009%2020.27%2012.0001%2020.27Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}
.iconPasswordAuthHiddenStyle {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.5301%209.47008L9.47008%2014.5301C8.79908%2013.8591%208.42212%2012.949%208.42212%2012.0001C8.42212%2011.5302%208.51467%2011.065%208.69448%2010.6309C8.87428%2010.1968%209.13784%209.80232%209.47008%209.47008C9.80232%209.13784%2010.1968%208.87428%2010.6309%208.69448C11.065%208.51467%2011.5302%208.42212%2012.0001%208.42212C12.949%208.42212%2013.8591%208.79908%2014.5301%209.47008Z%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M17.8201%205.76998C16.0701%204.44998%2014.0701%203.72998%2012.0001%203.72998C8.47009%203.72998%205.18009%205.80998%202.89009%209.40998C1.99009%2010.82%201.99009%2013.19%202.89009%2014.6C3.68009%2015.84%204.60009%2016.91%205.60009%2017.77M8.42009%2019.53C9.56009%2020.01%2010.7701%2020.27%2012.0001%2020.27C15.5301%2020.27%2018.8201%2018.19%2021.1101%2014.59C22.0101%2013.18%2022.0101%2010.81%2021.1101%209.39998C20.7801%208.87998%2020.4201%208.38998%2020.0501%207.92998%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cpath%20d%3D%22M15.51%2012.7C15.3745%2013.3976%2015.0337%2014.0387%2014.5312%2014.5412C14.0287%2015.0437%2013.3876%2015.3845%2012.69%2015.52M9.47%2014.53L2%2022M22%202L14.53%209.47%22%20stroke%3D%22black%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}



