.search {
    display: inline-block;
    position: relative;

}

.search input[type="text"] {
    width: 640px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.search input[type="text"]:focus{
    outline: none;
    box-shadow: 0 0 5px var(--accent_color);
}

.search button {
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
}


