:root {

      @font-face {
          font-family: "Poppins', sans-serif";
          src: url("https: //fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
        }
      
        @font-face {
          font-family: "Montserrat', sans-serif";
          src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
        };
--primary_text: Poppins, sans-serif;
--secondary_text: Montserrat, sans-serif;
--third_text: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  
  
  --mainText_color: #000000;
  --main_bg: #FFFFFF;
   --accent_color: #00A6DB;
   --star_bg: #FFAD33;
   --second_accent: #DB4444;
  --secondary_color: #FAFAFA;
  --thirdText_color: #808080;
  --subText: #161616;
  --inactive_color: #C1C1C1;
  --hero_bg: rgba(219, 208, 204, 80%);
  --layout_bg: rgba(0, 0, 0, 40%);
--footer_bg: #222222;
--mainFooter_bg: #323334;


  line-height: 1.5;
  font-weight: 400;
  font-family: var(--primary_text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

      max-width: 1440px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

